extends layout.pug

block content
  for post in posts
    .media.mt-2
      .media-body
        h4.media-heading
          a(href=`/posts/${post.id}`)= post.title
        = post.body
        .small.text-muted= post.user.nickname
